<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eBioServer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>bean.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>bean.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>bean.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeServlet</display-name>
    <servlet-name>changeServlet</servlet-name>
    <servlet-class>bean.changeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeServlet</servlet-name>
    <url-pattern>/changeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeviceList</display-name>
    <servlet-name>DeviceList</servlet-name>
    <servlet-class>bean.DeviceList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceList</servlet-name>
    <url-pattern>/DeviceList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>bean.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSystemUsersServlet</display-name>
    <servlet-name>AddSystemUsersServlet</servlet-name>
    <servlet-class>bean.AddSystemUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSystemUsersServlet</servlet-name>
    <url-pattern>/AddSystemUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSystemUserServlet</display-name>
    <servlet-name>EditSystemUserServlet</servlet-name>
    <servlet-class>bean.EditSystemUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSystemUserServlet</servlet-name>
    <url-pattern>/EditSystemUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSystemUserServlet</display-name>
    <servlet-name>DeleteSystemUserServlet</servlet-name>
    <servlet-class>bean.DeleteSystemUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSystemUserServlet</servlet-name>
    <url-pattern>/DeleteSystemUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDeviceCommand</display-name>
    <servlet-name>DeleteDeviceCommand</servlet-name>
    <servlet-class>bean.DeleteDeviceCommand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDeviceCommand</servlet-name>
    <url-pattern>/DeleteDeviceCommand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeLog</display-name>
    <servlet-name>AddEmployeeLog</servlet-name>
    <servlet-class>bean.AddEmployeeLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeLog</servlet-name>
    <url-pattern>/AddEmployeeLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployeeLog</display-name>
    <servlet-name>EditEmployeeLog</servlet-name>
    <servlet-class>bean.EditEmployeeLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployeeLog</servlet-name>
    <url-pattern>/EditEmployeeLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editEmployeeExist</display-name>
    <servlet-name>editEmployeeExist</servlet-name>
    <servlet-class>bean.editEmployeeExist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editEmployeeExist</servlet-name>
    <url-pattern>/editEmployeeExist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDeviceCodeVerification</display-name>
    <servlet-name>EmpDeviceCodeVerification</servlet-name>
    <servlet-class>bean.EmpDeviceCodeVerification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDeviceCodeVerification</servlet-name>
    <url-pattern>/EmpDeviceCodeVerification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeLog</display-name>
    <servlet-name>DeleteEmployeeLog</servlet-name>
    <servlet-class>bean.DeleteEmployeeLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeLog</servlet-name>
    <url-pattern>/DeleteEmployeeLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeviceFnameExist</display-name>
    <servlet-name>DeviceFnameExist</servlet-name>
    <servlet-class>bean.DeviceFnameExist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceFnameExist</servlet-name>
    <url-pattern>/DeviceFnameExist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeviceList1</display-name>
    <servlet-name>AddDeviceList1</servlet-name>
    <servlet-class>bean.AddDeviceList1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeviceList1</servlet-name>
    <url-pattern>/AddDeviceList1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>permissionCheck</display-name>
    <servlet-name>permissionCheck</servlet-name>
    <servlet-class>bean.permissionCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>permissionCheck</servlet-name>
    <url-pattern>/permissionCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionDataBase</display-name>
    <servlet-name>ConnectionDataBase</servlet-name>
    <servlet-class>bean.ConnectionDataBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionDataBase</servlet-name>
    <url-pattern>/ConnectionDataBase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>bean.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testservlet1</servlet-name>
    <servlet-class>bean.testservlet1</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>cdata</display-name>
    <servlet-name>cdata</servlet-name>
    <servlet-class>bean.cdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cdata</servlet-name>
    <url-pattern>/iclock/cdata.aspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cdata</servlet-name>
    <url-pattern>/iclock/cdata.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Devicecmd</display-name>
    <servlet-name>Devicecmd</servlet-name>
    <servlet-class>bean.Devicecmd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Devicecmd</servlet-name>
    <url-pattern>/iclock/devicecmd.aspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Devicecmd</servlet-name>
    <url-pattern>/iclock/devicecmd.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getrequest</display-name>
    <servlet-name>Getrequest</servlet-name>
    <servlet-class>bean.Getrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getrequest</servlet-name>
    <url-pattern>/iclock/getrequest.aspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Getrequest</servlet-name>
    <url-pattern>/iclock/getrequest.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>devicelog</display-name>
    <servlet-name>devicelog</servlet-name>
    <servlet-class>bean.devicelog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>devicelog</servlet-name>
    <url-pattern>/devicelog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DevicceComOperation</display-name>
    <servlet-name>DevicceComOperation</servlet-name>
    <servlet-class>bean.DevicceComOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DevicceComOperation</servlet-name>
    <url-pattern>/DevicceComOperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>bean.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenrateLicense</display-name>
    <servlet-name>GenrateLicense</servlet-name>
    <servlet-class>bean.GenrateLicense</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenrateLicense</servlet-name>
    <url-pattern>/GenrateLicense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LicenseKeySave</display-name>
    <servlet-name>LicenseKeySave</servlet-name>
    <servlet-class>bean.LicenseKeySave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LicenseKeySave</servlet-name>
    <url-pattern>/LicenseKeySave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Aboutus</display-name>
    <servlet-name>Aboutus</servlet-name>
    <servlet-class>bean.Aboutus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aboutus</servlet-name>
    <url-pattern>/Aboutus</url-pattern>
  </servlet-mapping>
</web-app>